# Example environment variables for the Interopchain Data Steward.
# Copy this file to .env and fill in the required values.
# NEVER commit .env to source control.

# Kafka broker address
KAFKA_BROKER=kafka:9092

# Default port
PORT=3000

# This DataSteward IPFS node url 
IPFS_API_URL=http://ipfs-node:5001

# IPFS nodes IPs. If using only one node, leave it empty. If using multiple nodes, separate them with commas as example
IPFS_API_NODES=http://IP_A:5001,http://IP_B:5001,http://IP_C:5001

# Future CockroachDB support. Leave it empty
COCKROACH_HOST=
COCKROACH_PORT=
COCKROACH_DATABASE=
COCKROACH_USER=
COCKROACH_PASSWORD=
COCKROACH_URL=

# PostgreSQL
# Define user and password
DB_HOST=postgres
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=fhir

# AWS KMS
# Define AWS credentials for KMS
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Temporary session token for AWS KMS. If using long-term credentials, leave it empty
AWS_SESSION_TOKEN=

# Logging level for the application. Possible values: "all" or "error". Default is "error"
LOG_LEVEL=error

# IPFS cooldown when error uploading
IPFS_NODE_COOLDOWN_MS=10000