# Valor padrão
KAFKA_BROKER=kafka:9092
PORT=3000

# Valor padrão
IPFS_API_URL=http://ipfs-node:5001
# Alterar IPs
IPFS_API_NODES=http://IP_A:5001,http://IP_B:5001,http://IP_C:5001

# Configuração futura cockroach
COCKROACH_HOST=
COCKROACH_PORT=
COCKROACH_DATABASE=
COCKROACH_USER=
COCKROACH_PASSWORD=
COCKROACH_URL=

# Banco postgres
DB_HOST=postgres
# Valor padrão
DB_PORT=5432

# Definir user e password
DB_USER=
DB_PASSWORD=

DB_NAME=fhir